/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 27, 2021, 4:44:32 PM
    Author     : Jeet
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

$primary: #2e54f8;
$darkPrimary: #1e42df;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    outline: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.header {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: white;
    padding: 0px 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    .header-menu {
        width: 100%;
        height: 80px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            a {
                h1 {
                    span {
                        font-family: "Brush Script MT", cursive;
                        font-weight: 500;
                        font-size: 3rem;
                        color: black;
                        &:first-child {
                            color: $primary;
                        }
                    }
                }
            }
        }
        ul {
            margin: auto;
            display: flex;
            align-items: center;
            grid-gap: 10px;
            li,
            .list {
                list-style: none;
                a,
                input {
                    padding: 10px 15px;
                    border-radius: 3px;
                    letter-spacing: 0.3px;
                    color: black;
                    font-weight: 500;
                    font-size: 1rem;
                    border: none;
                    text-transform: capitalize;
                    transition: 0.3s;
                    cursor: pointer;
                    &:hover {
                        background-color: #2e54f8;
                        color: white;
                        box-shadow: #2e53f852 0px 2px 7px 0px;
                    }
                }
            }
            .active {
                background-color: #2e54f8;
                color: white;
                box-shadow: #2e53f852 0px 2px 7px 0px;
            }
        }
        .account {
            a,
            input {
                background-color: $primary;
                box-shadow: #2e53f852 0px 2px 7px 0px;
                color: white !important;
                position: relative;
                top: 0px;
                transition: top 0.2s ease-in-out;
                &:hover {
                    top: -3px;
                }
            }
        }
    }
}

.footer {
    margin-top: 90px;
    background-color: #222845;
    width: 100%;
    padding: 75px 0px;
    .container {
        max-width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .col-1 {
            width: 40%;
            .desc {
                color: #d2d9f8;
                font-size: 0.9rem;
                margin-top: 10px;
                line-height: 1.6;
            }
            .subscribe-box {
                margin-top: 15px;
                width: 100%;
                display: flex;
                grid-gap: 15px;
                input {
                    flex: 1;
                    background: none;
                    border: none;
                    padding: 12px 20px;
                    background-color: transparent;
                    color: white;
                    font-size: 1rem;
                    border: 3px solid #f1f1f1;
                    border-radius: 100px;
                    font-weight: normal;
                    &::placeholder {
                        color: #fff;
                        font-weight: normal;
                    }
                }
                button {
                    background: none;
                    border: none;
                    border: 3px solid $primary;
                    border-radius: 100px;
                    background-color: $primary;
                    color: #f1f1f1;
                    font-size: 1rem;
                    padding: 12px 20px;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        background-color: $darkPrimary;
                    }
                }
            }
            .social-icon {
                margin-top: 20px;
                display: flex;
                grid-gap: 10px;
                li {
                    list-style: none;
                    a {
                        display: block;
                        width: 45px;
                        height: 45px;
                        display: grid;
                        place-items: center;
                        border-radius: 100%;
                        background-color: #f1f1f1;
                        color: #222845;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            background-color: $darkPrimary;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .col-2,
        .col-3 {
            .title {
                color: #f1f1f1;
                font-weight: 500;
            }
            .category-container,
            .location-container {
                width: 100%;
                display: flex;
                grid-gap: 50px;
                justify-content: space-between;
                margin-top: 35px;
                ul {
                    li {
                        list-style: none;
                        line-height: 2;
                        a {
                            color: #d2d9f8;
                            font-size: 1.05rem;
                            transition: 0.2s;
                            span {
                                margin-right: 8px;
                            }
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
    .logo {
        a {
            h1 {
                span {
                    font-family: "Brush Script MT", cursive;
                    font-weight: 500;
                    font-size: 3rem;
                    color: rgb(236, 236, 236);
                    &:first-child {
                        color: $primary;
                    }
                }
            }
        }
    }
}

// -------------  home page --------------------

.job-search-container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/slide.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .inner-box {
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 40%, rgba(125, 185, 232, 0) 100%);
        position: relative;
        .search-box {
            width: 85%;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .title {
                background-color: $primary;
                padding: 6px 10px;
                color: white;
                border-radius: 2px;
                display: table;
                font-size: 0.8rem;
                font-weight: 400;
            }
            .heading {
                margin-top: 5px;
                max-width: 670px;
                font-size: 3rem;
                font-weight: 500;
                line-height: 1.2;
                span {
                    color: $primary;
                }
            }
            .input-box {
                background-color: rgba(255, 255, 255, 0.925);
                padding: 30px;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
                margin-top: 30px;
                form {
                    display: flex;
                    grid-gap: 30px;
                    justify-content: space-between;
                    .input-filed {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        border-bottom: 2px solid $primary;
                        position: relative;
                        input {
                            display: block;
                            flex: 1;
                            padding: 13px 0px;
                            font-weight: normal;
                            font-size: 0.9rem;
                            border: none;
                            background: none;
                            color: black;
                            &::placeholder {
                                color: rgb(41, 41, 41);
                            }
                        }
                        .select-box {
                            flex: 1;
                            display: flex;
                            .select {
                                flex: 1;
                                display: block;
                                padding: 13px 0px;
                                font-weight: normal;
                                font-size: 0.9rem;
                                color: black;
                                cursor: default;
                            }
                        }
                        .icon {
                            display: block;
                            padding: 10px;
                            color: $primary;
                        }
                        .option {
                            display: none;
                            position: absolute;
                            border-radius: 5px;
                            top: 100%;
                            width: 100%;
                            max-height: 300px;
                            overflow-y: auto;
                            background-color: #fff;
                            border: 1px solid rgb(207, 207, 207);
                            margin-top: 2px;
                            a {
                                display: block;
                                padding: 10px 20px;
                                transition: 0.1s;
                                color: black;
                                &:hover {
                                    background-color: $primary;
                                    color: white;
                                }
                                &:nth-child(1) {
                                    color: grey;
                                    pointer-events: none;
                                }
                            }
                            .selected {
                                background-color: $primary;
                                color: white;
                            }
                        }
                    }
                    .submit-btn {
                        color: white;
                        background: none;
                        border: none;
                        border-radius: 4px;
                        padding: 15px 40px;
                        background: $primary;
                        font-size: 1.1rem;
                        box-shadow: #2e53f87c 0px 2px 7px 0px;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover {
                            background-color: #1a3bca;
                        }
                    }
                }
            }
        }
    }
}

.category-container {
    width: 85%;
    margin: auto;
    margin-top: 70px;
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
        .category-box {
            background-color: #f7f9ff;
            width: 270px;
            height: 200px;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 10px 0 #2e53f82f;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            color: $primary;
            padding: 20px;
            transition: 0.4s ease-in-out;
            &:hover {
                background-color: $primary;
                color: white;
                transform: scale(105%);
                a {
                    color: white;
                }
            }
            .icon {
                font-size: 2.5rem;
            }
            .name {
                font-weight: normal;
                margin-top: 13px;
                color: $primary;
                font-size: 1.2rem;
                &:hover {
                    text-decoration: underline;
                }
            }
            .count {
                font-weight: normal;
                margin-top: 5px;
            }
        }
    }
    .category-btn {
        display: table;
        border-radius: 50px;
        padding: 12px 22px;
        margin: auto;
        margin-top: 60px;
        color: white;
        background-color: $primary;
        transition: 0.3s;
        &:hover {
            background-color: #1d40dd;
        }
    }
}
.login-page-container,
.signup-page-container {
    &::-webkit-scrollbar {
        width: 0px;
    }
    width: 33%;
    max-height: 130vh;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 24, 128, 0.18);
    padding: 40px;
    border-radius: 5px;
    form {
        .msg {
            color: red;
            padding: 0px 5px;
            font-size: 0.9rem;
            padding-top: 7px;
            display: block;
        }
        .error {
            color: red;
            margin-top: 10px;
            font-weight: 400;
            border-radius: 3px;
            display: table;
            font-size: 0.9rem;
            padding: 9px 14px;
            background-color: rgba(255, 151, 151, 0.212);
        }
        .title {
            font-size: 1.75rem;
            font-weight: 500;
            padding: 15px 0px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 25px;
                height: 3px;
                border-radius: 10px;
                background-color: $primary;
                top: 100%;
            }
        }
        .sub-title {
            color: rgb(100, 100, 100);
            padding: 25px 0px;
            padding-bottom: 0px;
        }
        .input-filed {
            margin-top: 23px;
            input,
            select {
                background: none;
                border: none;
                padding: 17px 15px;
                width: 100%;
                font-size: 0.95rem;
                display: block;
                border-radius: 5px;
                box-shadow: 0px 0px 10px 0px rgba(0, 24, 128, 0.18);
            }
            select {
                padding: 15px !important;
            }
        }
        .btn {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .forgot-link {
                display: block;
                height: min-content;
                padding: 0px 5px;
                color: $primary;
                font-size: 0.9rem;
                transition: 0.3s;
                &:hover {
                    text-decoration: underline;
                    color: black;
                }
            }
            .login-btn,
            .signup-submit {
                background: none;
                border: none;
                padding: 13px 20px;
                background-color: $primary;
                color: white;
                border-radius: 3px;
                font-size: 1rem;
                cursor: pointer;
                transition: 0.3s;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                &:hover {
                    background-color: $darkPrimary;
                }
            }
        }
    }
    .signup-btn {
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px;
        font-weight: 500;
        border-radius: 3px;
        color: white;
        background-color: $primary;
        transition: 0.3s;
        &:hover {
            background-color: $darkPrimary;
        }
    }
    .divider {
        width: 100%;
        height: 3px;
        margin: 30px 0px;
        border-radius: 5px;
        background-color: #e6e6e6;
    }
}
.signup-page-container {
    padding-bottom: 60px;
}
.city-container {
    width: 100%;
    margin-top: 70px;
    position: relative;
    .container {
        width: 100%;
        height: 100%;
        background-color: #eef1ff;
        padding: 60px 0px;
        .title {
            text-align: center;
            font-weight: 500;
            font-size: 1.9rem;
            color: black;
        }
        .sub-title {
            text-align: center;
            font-size: 1.1rem;
            letter-spacing: 0.5px;
            margin-top: 5px;
            color: black;
        }
        .flex-box {
            width: 85%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 30px;
            margin-top: 50px;
            z-index: 100;
            margin-bottom: 20px;
            .box {
                height: 190px;
                border-radius: 5px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                .inner-box {
                    border-radius: 5px;
                    width: 100%;
                    transition: 0.3s;
                    height: 100%;
                    background-color: #233ca846;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    color: white;
                    h3 {
                        font-size: 1.3rem;
                        font-weight: 500;
                    }
                    &:hover {
                        background-color: #2e53f8e0;
                    }
                }
            }
        }
    }
}

.recent-jobs-container,
.job-all-container {
    width: 85%;
    margin: auto;
    margin-top: 60px;
    .title {
        font-weight: 600;
        font-size: 2.1rem;
    }
    .sub-title {
        margin-top: 8px;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .job-list-container {
        width: 85%;
        margin-top: 50px;
        .job-box {
            box-shadow: #2e53f852 0px 2px 7px 0px;
            border-radius: 4px;
            border-left: 5px solid #e1e7ff;
            padding: 30px 35px;
            transition: 0.2s;
            margin-top: 30px;
            .col-1 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                grid-gap: 20px;
                .img {
                    width: 60px;
                    height: 60px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                    }
                }
                .desc {
                    flex: 1;
                    .job-title {
                        color: black;
                        font-size: 1.5rem;
                        font-weight: 600;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .row-2 {
                        display: flex;
                        margin-top: 10px;
                        font-weight: normal;
                        font-size: 0.95rem;
                        a {
                            display: block;
                            margin-right: 15px;
                            pointer-events: none;
                            .icon {
                                font-size: 0.9rem;
                                margin: 5px;
                            }
                        }
                    }
                }
                .fav-btn {
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    border: 1px solid $primary;
                    font-size: 1.1rem;
                    display: grid;
                    place-items: center;
                    color: $primary;
                }
            }
            .col-2 {
                display: flex;
                justify-content: space-between;
                margin-top: 35px;
                .job-type {
                    display: table;
                    padding: 5px 10px;
                    background-color: #2e53f825;
                    color: $primary;
                    font-weight: normal;
                    border-radius: 5px;
                    font-size: 1rem;
                }
                .salary {
                    font-size: 1.5rem;
                    font-weight: normal;
                }
            }
            &:nth-child(odd) {
                background-color: #f4f5fa;
            }
            &:nth-child(even) {
                background-color: #fff;
            }
            &:hover {
                border-color: $primary;
            }
        }
    }
}
.search-header {
    width: 100%;
    height: 300px;
    background-image: url("../images/bnr1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .container {
        width: 100%;
        height: 100%;
        background-color: #0f1947ad;
        .box {
            // width: 85%;
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-33%);
            form {
                display: flex;
                border: 15px solid rgba(255, 255, 255, 0.2);
                border-radius: 10px;
                input {
                    display: block;
                    width: 100%;
                    background: none;
                    border: none;
                    background-color: #fff;
                    padding: 22px 17px;
                    &:first-child {
                        border-right: 1px solid #cccccc;
                    }
                }
                button {
                    background: none;
                    border: none;
                    background-color: $primary;
                    color: white;
                    width: 250px;
                    font-size: 1.1rem;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        background-color: $darkPrimary;
                    }
                }
            }
            ul {
                margin-top: 25px;
                display: inline-flex;
                background-color: rgba(0, 0, 0, 0.815);
                border-radius: 4px;
                overflow: hidden;
                li {
                    list-style: none;
                    a {
                        padding: 12px 16px;
                        display: block;
                        color: #fff;
                        border-right: 1px solid rgb(65, 65, 65);
                        font-size: 0.85rem;
                    }
                    .active {
                        background-color: $primary;
                    }
                    &:last-child {
                        a {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
.location-job-container {
    padding: 20px;
    width: 85%;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0 0 10px 0 rgba(0, 24, 128, 0.1);
    border-radius: 5px;
    .heading {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 18px;
        border-bottom: 2px solid #f1f1f1;
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 1.1rem;
            font-weight: 500;
        }
        a {
            font-size: 0.8rem;
            color: $primary;
            font-weight: 500;
        }
    }
    .flex-box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-top: 20px;
        z-index: 100;
        margin-bottom: 20px;
        .box {
            height: 190px;
            border-radius: 5px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .inner-box {
                border-radius: 5px;
                width: 100%;
                transition: 0.3s;
                height: 100%;
                background-color: #233ca846;
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                color: white;
                cursor: pointer;
                h3 {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
                &:hover {
                    background-color: #2e53f8e0;
                }
            }
        }
    }
}

.contact-header,
.job-detail-header,
.search-header {
    width: 100%;
    height: 300px;
    background-image: url("../images/bnr1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .container {
        width: 100%;
        height: 100%;
        background-color: #0f1947ad;
        .box {
            display: table;
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            line-height: 2;
            .title {
                color: white;
                font-weight: 600;
                font-size: 2.1rem;
            }
            .nav {
                * {
                    color: white;
                    font-weight: normal;
                }
                .icon {
                    font-size: 0.9rem;
                    padding: 5px;
                }
            }
        }
    }
}
.job-all-container {
    .title {
        font-size: 1.3rem;
        border-bottom: 2px solid #e1e7ff;
        padding-bottom: 20px;
    }
    .job-list-container {
        width: 100%;
        display: grid;
        grid-gap: 35px;
        grid-template-columns: repeat(3, 1fr);
        .job-box {
            margin: 0px;
            .job-title {
                font-weight: 500 !important;
                font-size: 1.3rem !important;
            }
            .row-2 {
                flex-wrap: wrap;
                grid-row-gap: 8px;
            }
            .salary {
                font-size: 1.3rem !important;
            }
            .col-2 {
                align-items: center;
            }
        }
    }
}
.contact-container {
    display: flex;
    grid-gap: 30px;
    width: 85%;
    margin: auto;
    margin-top: 70px;

    .col-1,
    .col-2 {
        flex: 1;
        border: 1px solid #d8d8d8;
        padding: 33px 35px;
        border-radius: 5px;
        .heading {
            font-size: 1.6rem;
            font-weight: 600;
            color: rgb(24, 24, 24);
        }
        p {
            color: rgb(92, 92, 92);
            margin-top: 15px;
            padding-bottom: 10px;
        }
        .contact-box {
            margin-top: 20px;
            h2 {
                font-size: 1.1rem;
                font-weight: 500;
                color: rgb(24, 24, 24);
            }
            h3 {
                font-size: 0.9rem;
                color: rgb(92, 92, 92);
                font-weight: normal;
                margin-top: 7px;
            }
        }
        .hr {
            width: 100%;
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 20px;
        }
        .social-icons {
            display: flex;
            grid-gap: 5px;
            margin-top: 20px;
            a {
                display: grid;
                place-items: center;
                width: 35px;
                height: 35px;
                background-color: $primary;
                color: white;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                &:hover {
                    background: transparent;
                    color: black;
                }
            }
        }
    }
    .col-2 {
        background-color: #eef1ff;
        border: none;
        input,
        textarea {
            background: none;
            border: none;
            background-color: white;
            border: 1px solid #d1d1d1;
            width: 100%;
            display: block;
            padding: 15px 18px;
            font-size: 0.9rem;
            margin-top: 20px;
            resize: none;
            transition: 0.2s;
            &:focus {
                border-color: grey;
            }
        }
        button {
            background: none;
            border: none;
            width: 100%;
            background-color: $primary;
            color: white;
            padding: 15px;
            margin-top: 25px;
            border-radius: 3px;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
            transition: 0.2s ease-in;
            &:hover {
                background-color: $darkPrimary;
            }
        }
    }
}
.job-detail-body {
    width: 85%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    grid-gap: 20px;
    position: relative;
    .sticky-sidebox {
        width: 370px;
        min-width: 370px;
        height: min-content;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        padding: 20px;
        position: sticky;
        top: 25px;
        .title {
            font-weight: 500;
        }
        .box {
            margin-top: 20px;
            display: flex;
            .icon {
                padding: 10px 17px;
                height: 100%;
                font-size: 1.3rem;
                color: grey;
            }
            .desc {
                h4 {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                p {
                    margin-top: 5px;
                    line-height: 1.5;
                    color: rgb(145, 145, 145);
                    font-weight: normal;
                }
            }
        }
    }
    .detail-box {
        flex: 1;
        .msg {
            color: red;
            padding: 0px 5px;
            font-size: 0.9rem;
            padding-top: 7px;
            display: block;
        }
        .error,
        .success {
            color: red;
            margin-top: 15px;
            font-weight: 400;
            border-radius: 3px;
            display: table;
            font-size: 0.9rem;
            padding: 9px 14px;
            background-color: rgba(255, 151, 151, 0.212);
        }
        .success {
            color: green;
            background-color: rgba(0, 128, 0, 0.171);
        }
        .job-title {
            font-weight: 500;
            font-size: 1.8rem;
        }
        .title-line {
            margin-top: 15px;
            li {
                list-style: none;
                display: inline;
                margin-right: 15px;
                font-size: 1rem;
                color: rgb(105, 105, 105);
                b {
                    font-weight: 500;
                    color: black;
                    padding-right: 3px;
                }
            }
        }
        .detail {
            color: rgb(105, 105, 105);
            line-height: 1.6;
            margin-top: 22px;
        }
        .job-desc {
            .title {
                margin-top: 25px;
                width: 100%;
                padding-bottom: 15px;
                font-size: 1.3rem;
                font-weight: 500;
                border-bottom: 2px solid #d6d6d6;
            }
        }
        .job-btn {
            background: none;
            display: table;
            border: none;
            padding: 13px 20px;
            background-color: $primary;
            color: white;
            font-size: 1rem;
            margin-top: 30px;
            border-radius: 3px;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background-color: $darkPrimary;
            }
        }
    }
}
.account-page-container {
    width: 85%;
    margin: auto;
    margin-top: 40px;
    position: relative;
    display: flex;
    grid-gap: 25px;
    .msg {
        color: red;
        padding: 0px 5px;
        font-size: 0.9rem;
        padding-top: 7px;
        display: block;
    }
    .error,
    .success {
        color: red;
        margin-top: 15px;
        font-weight: 400;
        border-radius: 3px;
        display: table;
        font-size: 0.9rem;
        padding: 9px 14px;
        background-color: rgba(255, 151, 151, 0.212);
    }
    .success {
        color: green;
        background-color: rgba(0, 128, 0, 0.171);
    }
    .sidebar {
        min-width: 24%;
        height: min-content;
        box-shadow: 0px 0px 10px 0px rgba(0, 24, 128, 0.1);
        border-radius: 5px;
        position: sticky;
        top: 25px;
        .name {
            display: table;
            margin: auto;
            font-weight: 500;
            font-size: 1.7rem;
            padding: 30px 0px;
        }
        ul {
            li {
                list-style: none;
                a {
                    display: flex;
                    padding: 17px 20px;
                    background-color: #fff;
                    border-bottom: 1px solid #e1e7ff;
                    transition: 0.3s ease-in-out;
                    border-left: 3px solid transparent;
                    .title {
                        transition: 0.3s;
                    }
                    .icon {
                        width: 25px;
                        display: table;
                    }
                }
            }
            li:hover,
            .active {
                a {
                    background-color: #e1e7ff;
                    color: $primary;
                    border-left-color: $primary;
                }
            }
            li:hover {
                .title {
                    margin-left: 8px;
                }
            }
        }
    }
    .profile-container,
    .job-post-container,
    .applied-job-container,
    .change-password-container {
        flex: 1;
        .basic-info-box,
        .company-basic-info-box,
        .job-post-box,
        .change-password-box,
        .experience-info-box,
        .project-info-box,
        .skill-info-box,
        .applied-job-box,
        .education-info-box {
            border-radius: 5px;
            padding: 27px;
            box-shadow: 0px 0px 10px 0px rgba(0, 24, 128, 0.1);
            padding-bottom: 50px;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0px;
            }
            .heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.2rem;
                font-weight: 500;
                padding-top: 5px;
                padding-bottom: 15px;
                text-transform: uppercase;
                border-bottom: 1px solid #e1e7ff;
                .edit-btn {
                    display: block;
                    padding: 7px 11px;
                    font-weight: normal;
                    background-color: $primary;
                    color: white;
                    border-radius: 3px;
                    font-size: 0.85rem;
                    cursor: pointer;
                    transition: 0.2s;
                    span {
                        font-size: 0.8rem;
                        margin-right: 3px;
                    }
                    &:hover {
                        background-color: $darkPrimary;
                    }
                }
            }
            .input-container {
                margin-top: 30px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                grid-column-gap: 25px;
                .input-filed {
                    .input-title {
                        font-weight: 500;
                        font-size: 0.95rem;
                        padding-bottom: 10px;
                    }
                    input[type="text"],
                    input[type="date"],
                    input[type="password"],
                    .selectBox,
                    select,
                    textarea {
                        background: none;
                        border: none;
                        padding: 15px;
                        width: 100%;
                        font-size: 0.95rem;
                        display: block;
                        border-radius: 5px;
                        box-shadow: 0px 0px 7px 0px rgba(0, 23, 128, 0.116);
                    }
                    .selectBox {
                        padding: 7px;
                    }
                    .radio-btn {
                        margin-right: 20px;
                        float: left;
                        margin-top: 16px;
                    }
                }
                .textarea-filed {
                    grid-column: span 2;
                }
            }
            .submit-btn {
                background: none;
                border: none;
                border-radius: 5px;
                background-color: $primary;
                color: white;
                font-size: 1rem;
                padding: 12px 20px;
                cursor: pointer;
                font-weight: 500;
                margin-top: 30px;
                transition: 0.3s ease-in-out;
                &:hover {
                    background-color: $darkPrimary;
                }
            }
        }
        .education-info-box {
            line-height: 1.6;
            .detail-box {
                margin-top: 20px;
                h4 {
                    font-weight: 500;
                    letter-spacing: 0.7px;
                }
                h5 {
                    font-weight: normal;
                    color: grey;
                    font-size: 0.9rem;
                }
                h6 {
                    font-weight: normal;
                    font-size: 0.9rem;
                    letter-spacing: 0.9px;
                }
            }
        }
        .experience-info-box,
        .project-info-box {
            line-height: 1.6;
            .detail-box {
                margin-top: 20px;
                h4 {
                    font-weight: 500;
                    letter-spacing: 0.7px;
                    font-size: 1.05rem;
                }
                h5 {
                    font-weight: normal;
                    font-size: 0.95rem;
                }
            }
        }
        .skills {
            margin-top: 25px;
            display: flex;
            grid-gap: 6px;
            li {
                border-radius: 3px;
                list-style: none;
                cursor: pointer;
                padding: 6px 10px;
                background-color: #e1e7ff;
                color: $primary;
                font-size: 0.85rem;
                transition: 0.3s ease-in-out;
                &:hover {
                    background-color: $primary;
                    color: white;
                }
            }
        }
        .company-basic-info-box {
            .textarea-filed {
                grid-column: auto !important;
            }
        }
    }
}
.overlay-input-container,
.admin-overlay-input-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    place-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.505);
    display: none;
    .msg {
        color: red;
        padding: 0px 5px;
        font-size: 0.9rem;
        padding-top: 7px;
        display: block;
    }
    .error,
    .success {
        color: red;
        font-weight: 400;
        border-radius: 3px;
        display: table;
        font-size: 0.9rem;
        padding: 9px 14px;
        background-color: rgba(255, 151, 151, 0.212);
    }
    .success {
        color: green;
        background-color: rgba(0, 128, 0, 0.171);
    }

    .input-container {
        width: 45%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fcfcfc;
        overflow: hidden;
        border-radius: 5px;
        .input-header {
            width: 100%;
            display: flex;
            padding-left: 25px;
            justify-content: space-between;
            align-items: center;
            font-size: 1.1rem;
            border-bottom: 1px solid #d3d2d2;
            background-color: #f5f5f5;
            font-weight: 500;
            color: rgb(82, 82, 82);
            .close-btn {
                width: 63px;
                height: 60px;
                display: grid;
                place-items: center;
                background-color: #efefef;
                font-size: 1.6rem;
                border-left: 1px solid #d3d2d2;
                cursor: pointer;
            }
        }
        * {
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background: rgb(207, 207, 207);
            }
        }
        .input-box {
            width: 100%;
            max-height: 65vh;
            overflow-y: auto;
            padding: 25px;
            .row {
                display: flex;
                grid-gap: 25px;
                width: 100%;
            }
            .input-filed {
                margin-bottom: 25px;
                width: 100%;
                .input-title {
                    font-weight: 500;
                    font-size: 0.95rem;
                    padding-bottom: 10px;
                }

                .ui-state-active {
                    box-shadow: 0px 0px 7px 0px rgba(0, 23, 128, 0.116) !important;
                }
                input[type="text"],
                input[type="date"],
                input[type="password"],
                input[type="number"],
                select,
                textarea,
                .selectMenu {
                    background: none;
                    border: none;
                    background-color: white;
                    padding: 15px;
                    width: 100%;
                    font-size: 0.95rem;
                    display: block;
                    border-radius: 5px;
                    box-shadow: 0px 0px 7px 0px rgba(0, 23, 128, 0.116);
                }
                .selectMenu {
                    padding: 7px;
                }
                .radio-btn {
                    float: left;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    margin-right: 25px;
                    label {
                        margin-left: 5px;
                    }
                }
            }
        }
        .input-footer {
            width: 100%;
            border-top: 1px solid #d3d2d2;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .save-btn {
                color: white;
                background: none;
                border: none;
                border-radius: 4px;
                padding: 11px 20px;
                background: $primary;
                font-size: 1rem;
                box-shadow: #2e53f87c 0px 2px 7px 0px;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: #1a3bca;
                }
            }
        }
    }
}
.overlay-input-container {
    .input-container {
        display: none;
    }
}
.admin-page {
    width: 100%;
    display: flex;
    position: relative;
    .admin-sidebar {
        width: 22%;
        height: 100vh;
        box-shadow: 0px 0px 10px 0px rgba(0, 24, 128, 0.1);
        border-radius: 5px;
        .name {
            display: table;
            margin: auto;
            font-weight: 500;
            font-size: 1.7rem;
            padding: 30px 0px;
        }
        ul {
            li {
                list-style: none;
                a {
                    display: flex;
                    padding: 17px 30px;
                    background-color: #fff;
                    border-bottom: 1px solid #e1e7ff;
                    transition: 0.3s ease-in-out;
                    border-right: 3px solid transparent;
                    .title {
                        transition: 0.3s;
                    }
                    .icon {
                        width: 30px;
                        display: table;
                    }
                }
            }
            li:hover,
            .active {
                a {
                    background-color: #e1e7ff;
                    color: $primary;
                    border-right-color: $primary;
                }
            }
            li:hover {
                .title {
                    margin-left: 8px;
                }
            }
        }
    }
    .content {
        flex: 1;
        height: 100vh;
        overflow: auto;
        padding: 30px;
        .display-table {
            .add-btn {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 10px;
                .btn {
                    background: none;
                    border: none;
                    padding: 10px 15px;
                    background-color: rgb(3, 168, 3);
                    color: white;
                    cursor: pointer;
                    border-radius: 4px;
                    font-weight: 500;
                    transition: 0.2s;
                    font-size: 1rem;
                    &:hover {
                        background-color: rgb(1, 145, 1);
                    }
                }
            }
            .table {
                .action-btn {
                    display: flex;
                    grid-gap: 7px;
                    .btn {
                        background: none;
                        border: none;
                        padding: 8px 13px;
                        background-color: rgb(3, 168, 3);
                        color: white;
                        cursor: pointer;
                        border-radius: 4px;
                        font-weight: 500;
                        transition: 0.2s;
                    }
                    .delete-btn {
                        background-color: rgb(230, 0, 0);
                        &:hover {
                            background-color: rgb(209, 3, 3);
                        }
                    }
                    .edit-btn {
                        &:hover {
                            background-color: rgb(1, 145, 1);
                        }
                    }
                }
                width: 100% !important;
                border-collapse: collapse;
                overflow-x: auto;
                td,
                th {
                    padding: 20px 15px;
                    text-align: center;
                    border-bottom: 1px solid #f0f1f5;
                }
                th {
                    text-transform: uppercase;
                    color: #b1b1b1;
                }
                td {
                    color: grey;
                }
            }
        }
    }
}

.admin-overlay-input-container {
    .hide-btn {
        display: none;
    }
}

.add-overlay .update-btn {
    display: none;
    pointer-events: none;
}

.update-overlay .add-btn {
    display: none;
    pointer-events: none;
}

.applied-job-container {
    .action-btn {
        display: flex;
        grid-gap: 7px;
        .btn {
            background: none;
            border: none;
            padding: 8px 13px;
            background-color: rgb(3, 168, 3);
            color: white;
            cursor: pointer;
            border-radius: 4px;
            font-weight: 500;
            transition: 0.2s;
        }
        .delete-btn {
            background-color: rgb(230, 0, 0);
            &:hover {
                background-color: rgb(209, 3, 3);
            }
        }
    }
}

.error-msg {
    color: red;
    font-weight: 400;
    display: block;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 0.95rem;
}

#myLoader {
    margin-left: 10px;
    display: block;
    display: none;
}
