@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_JobseekerLayout.cshtml";
}

<div class="job-detail-header">

    <div class="container">

        <div class="box">

            <h1 class="title">Job Detail</h1>

            <h3 class="nav">
                <a href="/JobRest">Home</a>
                <span class="icon"><i class="fas fa-angle-right"></i></span>
                <span>Job Detail</span>
            </h3>

        </div>

    </div>

</div>


<div class="job-detail-body">

    <div class="sticky-sidebox">
        <h2 class="title">Job Details</h2>
        <div class="box">
            <div class="icon"><i class="fal fa-map-marker-alt"></i></div>
            <div class="desc">
                <h4>Address</h4>
                <p>Surat</p>
            </div>
        </div>
        <div class="box">
            <div class="icon"><i class="fal fa-dollar-sign"></i></div>
            <div class="desc">
                <h4>Salary</h4>
                <p>50000 &#8377; Monthly</p>
            </div>
        </div>
        <div class="box">
            <div class="icon"><i class="far fa-shield"></i></div>
            <div class="desc">
                <h4>Experience</h4>
                <p>1 Year</p>
            </div>
        </div>
    </div>

    <div class="detail-box">
        <h1 class="job-title">Software Engineear</h1>
        <div class="title-line">
            <li>
                <b>Job Type</b>
                Full Time
            </li>
            <li>
                <b>Posting Date</b>
                12 Aug 2019
            </li>
            <li>
                <b><i class="fal fa-map-marker-alt"></i></b>
                Surat
            </li>
        </div>
        <p class="detail">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>

        <div class="job-desc">
            <h2 class="title">Job Description</h2>

            <p class="detail">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>

        <div class="job-desc">
            <h2 class="title">Job SkillSet</h2>

            <p class="detail">
                Html, css, Javascript, .net5, android
            </p>
        </div>

        <div class="job-desc">
            <h2 class="title">Job Qualifications</h2>

            <p class="detail">
                Any Computer Degree
            </p>
        </div>

        <form>
            <button type="submit" class="job-btn">Apply This Job</button>
            <a href="/Jobseeker/Login" class="job-btn">Login To Apply Job</a>
        </form>

    </div>

</div>
