
<div class="sidebar">
    <h1 class="name">Jeet B.</h1>
    <ul>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Account" ? "active" : "")">
            <a href="/Jobseeker/Account">
                <span class="icon"><i class="fas fa-user"></i></span>
                <span class="title">Profile</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AppliedJobs" ? "active" : "")">
            <a href="/Jobseeker/AppliedJobs">
                <span class="icon"><i class="fas fa-briefcase"></i></span>
                <span class="title">Applied Jobs</span>
            </a>
        </li>
        <!--                <li>
                            <a href="#">
                                <span class="icon"><i class="fas fa-file-alt"></i></span>
                                <span class="title">My Resume</span>
                            </a>
                        </li>-->
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ChangePassword" ? "active" : "")">
            <a href="/Account/ChangePassword">
                <span class="icon"><i class="fas fa-key"></i></span>
                <span class="title">Change Password</span>
            </a>
        </li>

        <li>
            <a href="/logout">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="title">Logout</span>
            </a>
        </li>

    </ul>
</div>
