@using Microsoft.AspNetCore.Http
@model JobPortal.Models.MyChangePassword

@{

    ViewData["Title"] = "Change Password";

    if (Context.Session.GetString("groupName") != null)
    {
        string groupName = Context.Session.GetString("groupName");
        if (groupName.Equals("Jobseeker"))
        {
            Layout = "~/Views/Shared/_JobseekerLayout.cshtml";

        }
        else if (groupName.Equals("Employer"))
        {
            Layout = "~/Views/Shared/_EmployerLayout.cshtml";
        }
        else if (groupName.Equals("Admin"))
        {
            Layout = "~/Views/Shared/_JobseekerLayout.cshtml";
        }
    }

}


<div class="account-page-container">

    @{
        if (Context.Session.GetString("groupName") != null)
        {
            string groupName = Context.Session.GetString("groupName");
            if (groupName.Equals("Jobseeker"))
            {
                <partial name="_JobseekerAccountSidebar" />

            }
            else if (groupName.Equals("Employer"))
            {
                <partial name="_EmployerAccountSidebar" />
            }
        }
    }



    <div class="change-password-container">

        <form class="change-password-box" asp-controller="Account" asp-action="ChangePasswordRequest" method="post" data-ajax-loading="#myLoader" data-ajax="true" data-ajax-complete="myComplete" data-ajax-success="mySuccess" data-ajax-failure="myFailure">

            <h3 class="heading">Change Password</h3>

            <div class="input-container">

                <div class="input-filed" style="grid-column: span 2;">
                    <h5 class="input-title">Old Password</h5>
                    <input type="password" id="oldPassword" asp-for="OldPassword" required name="OldPassword" />
                    <span asp-validation-for="OldPassword" class="error-msg"></span>
                </div>

                <div class="input-filed">
                    <h5 class="input-title">New Password</h5>
                    <input type="password" id="password" asp-for="Password" required name="Password" />
                    <span asp-validation-for="Password" class="error-msg"></span>
                </div>

                <div class="input-filed">
                    <h5 class="input-title">Confirm New Password</h5>
                    <input type="password" id="conPassword" asp-for="ConPassword" name="ConPassword" required />
                    <span asp-validation-for="ConPassword" class="error-msg"></span>
                </div>

            </div>

            <button type="submit" class="submit-btn">
                Update Password
                <i class="fas fa-spinner fa-spin" id="myLoader"></i>
            </button>

        </form>

    </div>

</div>

@section Scripts
{

    <script>

        function mySuccess(data) {

            if (data) {
                toastr.success('Password Change Successfully.');
            }
            else {
                toastr.error('Old Password Is Incorrect !');
            }

        }

        function myFailure(data) {
            alert("Error : " + data.status);
        }

    </script>
}
