@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_JobseekerLayout.cshtml";
}

<div class="account-page-container">

    @*<partial name="_JobseekerAccountSidebar" />*@

    <div class="change-password-container">

        <form class="change-password-box">

            <h3 class="heading">Change Password</h3>

            <div class="input-container">

                <div class="input-filed" style="grid-column: span 2;">
                    <h5 class="input-title">Old Password</h5>
                    <input type="password" id="oldPassword" required />
                </div>

                <div class="input-filed">
                    <h5 class="input-title">New Password</h5>
                    <input type="password" id="password" required />
                </div>

                <div class="input-filed">
                    <h5 class="input-title">Confirm New Password</h5>
                    <input type="password" id="conPassword" required />
                </div>

            </div>

            <button type="submit" class="submit-btn">Update Password</button>

        </form>

    </div>

</div>
