@model JobPortal.Models.MyLogin
@{

    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_JobseekerLayout.cshtml";
}


<div class="login-page-container">

    <form asp-action="LoginRequest" method="post" data-ajax-loading="#myLoader" data-ajax="true" data-ajax-complete="myComplete" data-ajax-success="mySuccess" data-ajax-failure="myFailure">

        <h1 class="title">Personal Information</h1>

        <p class="sub-title">Enter your e-mail address and your password.</p>

        <div class="input-filed">
            <input asp-for="email" type="email" value="emp@gmail.com" id="email" placeholder="Enter Email" required />
            <span asp-validation-for="email" class="error-msg"></span>
        </div>

        <div class="input-filed">
            <input asp-for="password" type="password" id="password" value="emp" placeholder="Enter Password" required />
            <span asp-validation-for="password" class="error-msg"></span>
        </div>

        <div class="btn">
            <a href="" class="forgot-link">
                <i class="fas fa-lock"></i> Forgot Password ?
            </a>

            <button class="login-btn" type="submit">
                Login
                <i class="fas fa-spinner fa-spin" id="myLoader"></i>
            </button>
        </div>

    </form>

    <div class="divider"></div>

    <a class="signup-btn" href="/Signup">Create an account</a>

</div>


@section Scripts
{
    @if (TempData["SignupDone"] != null)
    {
        <script>
            toastr.success('@TempData["SignupDone"]');
        </script>
    }

    <script>

        function mySuccess(data) {

            if (data) {
                location.replace("/");
            }
            else {
                toastr.error('Email Or Password Are Incorrect !!');
            }

        }

        function myFailure(data) {
            alert("Error : " + data.status);
        }

    </script>

}